@import '../../Content/css/owl.carousel.css';
@import '../../Content/css/owl.theme.default.min.css';

* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    z-index: auto;
}

h5 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #232d37;
    line-height: 1.25;
}

p {
    color: #51545f;
    font-size: 16px;
}

img {
    max-width: 100%;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

.heading_text > p {
    font-size: 16px;
}

#carousel .img-fluid {
    max-width: 100%;
    height: 100%;
    display: block;
}

#news {
    font-weight: 700;
    font-size: 40px;
    color: #eee;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
#desc {
    font-size: 22px;
    font-style: italic;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
    opacity: 0.7;
    font-weight: 400;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#preloader {
    overflow: hidden;
    background-color: #fff;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
}

.news-load {
    -webkit-animation: 1500ms linear 0s normal none infinite running news-load;
    animation: 1500ms linear 0s normal none infinite running news-load;
    background: transparent none repeat scroll 0 0;
    border-color: #dddddd #dddddd #368dfe;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    height: 40px;
    left: calc(50% - 20px);
    position: relative;
    top: calc(50% - 20px);
    width: 40px;
    z-index: 9;
}

@-webkit-keyframes news-load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes news-load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.owl-carousel.owl-loaded {
    display: inline-block;
}

    .single-slide {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.single-slide .project_title a > h5 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
}

#overlay_text {
    font-style: italic;
    color: #fff;
    opacity: .7;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.single-slide .project_title {
    position: absolute;
    content: "";
    bottom: -600px;
    left: 0;
    z-index: 3;
    background: #368dfe;
    padding: 20px;
    width: 100%;
    height: auto;
    -webkit-transition-duration: 750ms;
    transition-duration: 750ms;
}


.single-slide:hover .project_title {
    bottom: 0;
}

.card-group-item{
    color: #ccc;
    padding: 10px 0px 10px 0px;
}

.card-body {
    text-align: left;
    background-color: #434547;
    color: #d1dae3;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.card-header {
    padding-top: 15px;
    background-color: #0079f2;
    color: #fff;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#filtr {
    color: #0079f2;
    background-color: #434547;
    font-weight: 700;
    font-size: 33px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.card {
    padding: 10px;
}

.slidecontainer {
    width: 100%;
}

@media(min-width: 1200px) {
    .shop-filter {
        max-height: 670px;
    }
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #bbb;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

    .slider:hover {
        opacity: 1;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 23px;
        height: 24px;
        border: 0;
        cursor: pointer;
    }

.slider-price {
    color: #111;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.search {
   height: auto;
   width: 150px;
}

@media(max-width: 1400px){
    .search, .btn-search {
        display: none;
    }
}

.game-details {   
    text-align: left;
    padding: 3px;
    font-size: 14px;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.game-details .game-title a {
    color: #333!important;
}

.game-title{
    color: #333!important;
    font-size: 12px;
}

.game-title:hover {
    color: #333;
    text-shadow: 0px 5px 4px rgba(0,0,0,0.4), 0px 6px 10px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
}

.game-genre {
    font-weight: 700;
    text-transform: uppercase;
    color: #222;
    font-size: 11px;
    color: #2582fa;
    text-shadow: 0px 5px 4px rgba(0,0,0,0.4), 0px 6px 10px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.game-condition {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
    font-size: 16px;
    text-shadow: 0px 5px 4px rgba(0,0,0,0.4), 0px 6px 10px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.game-price {
    font-weight: 700;
    color: #333;
}

.game-list ul li a{
    text-decoration: none;
    line-height: 25px;
}

.game-image img {
    width: 205px;
    height: 375px;
    opacity: 0.8;
}
    @media (min-width: 500px) {
        .game-image img {
            width: 300px;
            height: 375px!important;
            opacity: 0.8;
        }
    }

    @media (min-width: 300px) {
        .game-image img {
            height: 200px;
            opacity: 0.8;
        }
    }

    .game-image img:hover {
        opacity: 1;
    }

    .game-list {
        float: left;
        width: auto;
    }

    .f-list {
        margin-top: 10px;
        list-style-type: none;
    }

    .platform-list-menu a {
        color: #333 !important;
    }

    .platform-list-menu {
        margin-top: 0px;
        padding-top: 0px;
    }

    .game-list:first-child {
        margin-left: 55px;
    }

    body .page-count {
        text-align: center;
        font-weight: 700;
        color: #333;
        font-size: 16px;
        text-shadow: 0px 5px 4px rgba(0,0,0,0.4), 0px 6px 10px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
        font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }

    .pagination a {
        text-align: center;
        display: inline;
        letter-spacing: 7px;
        color: #333 !important;
        font-size: 17px;
    }

        .pagination a:hover {
            font-weight: 700;
        }

    .navbar-icon {
        position: absolute;
        margin-left: auto;
        right: 240px;
        margin-top: 15px;
    }

    .navbar-icon-user {
        position: absolute;
        margin-left: auto;
        right: 200px;
        margin-top: 15px;
    }

    .form-header {
        right: 20px;
    }

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: transparent!important;   
}

.text-area-mvc{
    width: 100%!important;
}

.myCustomClass{
    width: 250px!important;
}
