@model Video_Games_Rental.Models.status

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_EntryLayout.cshtml";
}

<h2>Details</h2>
@if ((string)Session["myRole"] == "admin")
{
    <div>
        <h4>status</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.status1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.status1)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.status_id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}