@{
    ViewBag.Title = "O nas";
    Layout = "~/Views/Shared/_BackToMainLayout.cshtml";
}
    <!-- Header -->
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Witamy w świecie gier!</div>
                <div class="intro-heading text-uppercase">Wymieniaj • Kupuj • Rezerwuj</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#About">Dowiedz się więcej</a>
            </div>
        </div>
    </header>

    <div id="preloader">
        <div class="news-load"></div>
    </div>

    <!-- About -->
    <section class="page-section" id="About">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Jak to działa</h2>
                    <h3 class="section-subheading text-muted">Ogólne informacje na temat naszej strony.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="~/Content/img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>krok 1</h4>
                                    <h4 class="subheading">Szukanie interesującego tytułu</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">W pierwszym kroku najlepiej będzie znaleźć interesujący tytuł, który pózniej można kupić lub wypożyczyć!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="~/Content/img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>krok 2</h4>
                                    <h4 class="subheading">Produkty - wypożyczanie a kupowanie</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">W naszym sklepie oferujemy produkty, które można zarówno kupić jak i wypozyczyć. W przypadku wypożyczenia termin podstawowy wynosi 2 tygodnie od momentu otrzymania przesyłki lub odebrania jej z punktu odbioru. Termin ten oczywiście można wydłużyć o kolejne 2 tygodnie, wystarczy skontaktować się z nami telefonicznie lub przez formularz kontaktowy dostępny na stronie.   </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="~/Content/img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>krok 3</h4>
                                    <h4 class="subheading">Zamówienie do domu lub odbiór osobisty</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Po wybraniu określonego produktu zachęcamy do jego zakupu lub wypożyczenia, obie formy są realizowane w takim samym czasie. Możliwe opcje zamówień to standardowa wysyłka do domu lub odbiór w naszym punkcie.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="~/Content/img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>krok 4</h4>
                                    <h4 class="subheading">Radość z zakupu!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Staramy się, aby wszystkie nasze produkty były w najlepszym możliwym stanie i trafiały do klientów w jak najszybszym czasie. Zapewniamy wysyłke w 24h, dzieki której nasi klienci mogą ogrywać tytuły krótko po ich zamówieniu! </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                    Dołącz
                                    <br>do
                                    <br>Nas!
                                </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

