@using Video_Games_Rental.Models;
@model List<platform>
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_BackToMainLayout.cshtml";

}

    <!-- Header -->
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Witamy w świecie gier!</div>
                <div class="intro-heading text-uppercase">Wymieniaj • Kupuj • Rezerwuj</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#AddProduct">Sprawdź dostępność</a>
            </div>
        </div>
    </header>

    <div id="preloader">
        <div class="news-load"></div>
    </div>

    <!-- ADD PRODUCT -->
    <section class="page-section" id="AddProduct">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Zarezerwuj tytuł dla siebie</h2>
                    <h3 class="section-subheading text-muted">Prosimy wypełnić poniższe pola.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h3>Twój produkt został zarejestrowany i czeka na akceptacje</h3>
                </div>
            </div>
        </div>
    </section>
    <!-- Placeholder in select -->
    <script type="text/javascript">function changeMe(sel) { sel.style.color = "#555555"; }</script>