@using Video_Games_Rental.Models;
@{
    ViewBag.Title = "Lista Produktów";
    Layout = "~/Views/Shared/_SearchLayout.cshtml";
}

<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Witamy w świecie gier!</div>
            <div class="intro-heading text-uppercase">Wymieniaj • Kupuj • Rezerwuj</div>
        </div>
    </div>
</header>

<!-- Preloader Start -->
<div id="preloader">
    <div class="news-load"></div>
</div>

<main>

    <section class="bg-dark p-3">
        <div class="row p-5">
            <div class=""></div>
            <div class="col-lg-3 col-xl-3 col-12 text-center bg-light shop-filter mr-3 p-2">
                <div class="card bg-light">
                    <h3 class="section-heading text-uppercase mb-3 p-3" id="filtr">FILTRUJ WG </h3>
                    <article class="card-group-item">
                        <header class="card-header">
                            <h6 class="title">Platforma </h6>
                        </header>
                        <ul class="f-list">                          
                            @Html.Action("PlatformListPartial", "Shop")
                        </ul>
                    </article> <!-- card-group-item.// -->

                    <article class="card-group-item">
                        <header class="card-header">
                            <h6 class="title">Wersja językowa </h6>
                        </header>
                        <ul class="f-list">
                            @Html.Action("LanguageListPartial", "Shop")
                        </ul>
                    </article> <!-- card-group-item.// -->

                    <article class="card-group-item">
                        <header class="card-header">
                            <h6 class="title">Stan </h6>
                        </header>
                        <ul class="f-list">
                            @Html.Action("ConditionListPartial", "Shop")
                        </ul>
                    </article> <!-- card-group-item.// -->                  
                </div> <!-- card.// -->
            </div>

            <div class=" col-lg-8 col-xl-8 col-12 text-center bg-light">
                @Html.Action("GameListPartial", "Shop")
            </div>

        </div>
    </section>

</main>