@using Video_Games_Rental.Models
@model List<platform>

<ul class="f-list">
    @{
        foreach (var item in Model)
        {           
            <li>
                @Html.ActionLink(item.platform1, "Index", "Shop", new { page = 1, platform = item.platform_id }, null)
            </li>
        }
    }
</ul>

